src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="post:\cases:application\json:uhub-sapi-config">
		<ee:transform doc:name="Set Correlation and inputPayload" doc:id="5a1a2380-2a24-493c-a348-75c6f2b097a8" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="correlationid" ><![CDATA[%dw 2.0
output application/json
---
attributes.headers.'x-correlation-id' default payload.caseID]]></ee:set-variable>
				<ee:set-variable variableName="inputPayload" ><![CDATA[payload.covidCase]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cafce591-aa85-429f-8f61-5ffef1bda8d5" message="started register covid case flow: #[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="6ce710da-0d34-4e40-ae68-e2d3da814d8d" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="inputCovidPayload" ><![CDATA[%dw 2.0
output application/java
var actionDate=now() as String {format: "yyyy-MM-dd"}
var owner= "UHIS"
---
{
	national_id: payload.nationalID,
	street_address: payload.address.streetAddress,
	country: payload.address.country,
	city: payload.address.city,
	date_of_birth: payload.dateOfBirth  as String {format: "yyyy-MM-dd"},
	case_type: payload.caseType,
	last_name: payload.lastName,
	source: payload.source,
	national_id_type: payload.nationalIDType,
	update_date: actionDate,
	create_by: "UHIS",
	phone: payload.phone,
	state: payload.address.state,
	postal: payload.address.postal,
	create_date:actionDate,
	update_by: "UHIS",
	first_name: payload.firstName,
	email: payload.email
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="51f466a1-779b-476f-9c46-e4d87e4eb2eb" name="insert-sub-flows" />
		<ee:transform doc:name="Prepare Response" doc:id="690a8675-c219-4f42-9fef-f56d8fd2c922" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	caseID: payload.case_id as String

}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatus" ><![CDATA[200]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="a9748499-bdd0-421e-aa7a-68544bc88047" message="completed as register covid case" />
    
</flow>
	
</mule>
